*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#0f172a;
  color:white;
}

/* Navbar */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  background:#020617;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  z-index:1000;
}

.nav-links{
  display:flex;
  list-style:none;
}

.nav-links li{
  margin-left:20px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.menu{
  display:none;
  font-size:26px;
  cursor:pointer;
}

/* Hero */
.hero{
  height:100vh;
  padding-top:120px;
  text-align:center;
}

.profile-img{
  width:150px;
  border-radius:50%;
  margin-bottom:20px;
}

.hero span{
  color:#38bdf8;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#38bdf8;
  color:black;
  text-decoration:none;
  border-radius:5px;
}

/* Sections */
.section{
  padding:100px 80px;
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:30px;
}

.card{
  background:#020617;
  padding:20px;
  border-radius:10px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow:0 10px 25px rgba(56,189,248,0.3);
}

.card img{
  width:100%;
  border-radius:8px;
  margin-bottom:10px;
}

/* Fade animation */
.fade{
  opacity:0;
  transform:translateY(30px);
  transition:all 0.6s ease;
}

.fade.show{
  opacity:1;
  transform:translateY(0);
}

/* Footer */
footer{
  background:#020617;
  padding:20px;
  text-align:center;
}

/* Mobile */
@media(max-width:768px){
  .nav-links{
    display:none;
    position:absolute;
    top:60px;
    right:20px;
    background:#020617;
    flex-direction:column;
  }

  .nav-links.show{
    display:flex;
  }

  .menu{
    display:block;
  }

  .section{
    padding:80px 30px;
  }
}
